* {
  scroll-behavior: smooth;
  box-sizing: border-box;
} 

header {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  margin-bottom: 800px;
}

.carousel-item img {
  max-height: 600px;
}

.container {
  margin-top: 100px;
}

.container form textarea {
  resize: none;
}

div.container {
  min-height: calc(100vh - 194px);
}

.name-user {
  color: #fff;
  font-size: 18px;
}

footer div {
  color: #fff;
  height: 100px;
  line-height: 100px;
}
